@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Pacifico&display=swap');

/* font-family: 'Noto Sans', sans-serif;
font-family: 'Pacifico', cursive; */

body {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-family: 'Pacifico', cursive;
}

#root {
  max-width: 500px;
  margin: auto;
}
