.complete {
    list-style-type: 'x   ';
}

.incomplete {
    list-style-type: disc;
}

.deleted {
    text-decoration: line-through;
}

.not-deleted {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
}